<div class="mt-2 p-3" style="display: flex;gap: 20px;background-color: none;">
    <div class="container-fluid p-0" style="min-width: 200px;height: 100vh;background-color: #8B9AD5;" id="effacesq">
        <div
            style="height: 40px;width: 100%;border-bottom: 1px solid gainsboro;margin-bottom: 20px;background-color: white;">
            <p style="text-align: center;padding-top: 10px;">Annonces</p>
        </div>
        <div class="p-3">



            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz1.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>
            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz2.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>

            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz3.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>
            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz4.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>

            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz5.webp.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>
            <div
                style="height: 120px;width: 120px;background-color: white;margin: 0 auto;border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 30px;">

                <img src="assets/img/iconz6.png" style="width: 50px;height: 50px;" />
                <span style="text-align: center;font-size: 0.7rem;">NOTIFICATION
                    ET DIFFUSION</span>
            </div>

        </div>

    </div>
    <div class="p-3" style="width: 100%;background-color: white">
        <!-- Button Group -->

        <div class=" ms-auto d-flex justify-content-between align-items-center w-full">
            <div class="d-flex gap-3 align-items-start justify-content-between w-100">

                <p class="text-dark"> Annonces flottante</p>

                <a data-bs-toggle="modal" data-bs-target="#infoModal">
                    <img src="assets/img/adfgh.png" style="width: 25px;height: 25px;" />
                </a>
            </div>



        </div>

        <div class="row box-2 p-1" style="padding-bottom: 0;background-color: #F2F3F7;">
            <div class="col-12 d-flex flex-wrap order-row align-items-center mb-2">
                <div class="order-item d-flex align-items-center order-item-large"><img src="assets/img/lp1.png"
                        alt="Product Image" class="product-image">
                    <div class="product-info"><span class="product-name" >Spécial Ordinateur</span>
                     <small style="text-transform: lowercase;font-size: 0.8rem;padding-top: 10px;">Jeudi 14. JANvier 2022   <br></small><small style="text-transform: lowercase;font-size: 0.8rem;">vENDR 15. JANvier 2022   </small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">LIEN INTEGRÉ</p>
                    <p class="value" style="color: #0055ff;"> 23 </p>
                </div>
                <div class="order-item">
                    <p class="label">STATUT</p>
                    <p class="value" style="color: #0055ff;"> kdld </p>
                </div>
                <div class="order-item">
                    <p class="label">NOMBRE DE VUES</p>
                    <p class="value" style="color: #0055ff;"> kdld </p>
                </div>
               
                <div class="order-item order-item-large" style="background-color: white;" routerLink="/annonces/create-annonce">
                    <div
                        style=" width: 100%;display: flex;flex-direction: column;align-items: end;gap: 0;justify-content: center;">
                        <small style="background-color: #F7F6FE;padding: 10px;border-radius: 100%;"><img src="assets/img/mm1mo.png" height="20px"
                            alt="Product Image" ></small>
                            <small>il y'a 16 min</small></div>
                   
                </div>
            </div>
        </div>





    </div>
</div>






    <!-- Modal d'Information -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">Détails de la commande</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Informations à afficher dans le modal -->
              <p><strong>Nom:</strong> Remail Kouadio</p>
              <p><strong>Numéro de commande:</strong> #45DT57788839</p>
              <p><strong>Moyen de paiement:</strong> Carte bancaire</p> <!-- Modifié pour rendre l'exemple plus réaliste -->
              <p><strong>Montant à payer:</strong> 11 861 000 CFA</p>
              <p><strong>Détails supplémentaires:</strong> Ceci est un exemple de commande et de paiement.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>